
/* Estilos para o footer */
.footer {
    background-color: #f8f9fa;
    color: #333;
    padding: 20px 0;
    text-align: center;
  }
  
  .footer p {
    margin: 0;
  }
  
  /* Estilos gerais para o conteúdo */
  .container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  