.container {
  background-color: $primary-color; /* Green */
  padding: 20px;
  margin: 20px 0;
}
.card-title{
  font-size: 2.5rem;
  color: #007bff;
}

h2 {
  color: rgb(9, 9, 9); /* Text color */
}

.requerimentos-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}

.requerimento-item {
  background-color: #f0f0f0;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: black; /* Change text color to black */
}

.requerimento-item strong {
  color: black; /* Change strong text color to black */
}

.requerimento-item button {
  margin-top: 10px;
}

button.agendar-button {
  background-color: purple;
  color: white;
}

button.deletar-button {
  background-color: red;
  color: white;
}

button.atualizar-button {
  background-color: yellow;
  color: black;
}
