<mat-card>
  <div class="title-bar">
    <p class="title-text">Sistema de Agendamento e Farmácia</p>
  </div>

  <form (ngSubmit)="onSubmit()">
    <div class="profile-container">
      <div class="profile-icon"></div>
      <p class="register-text">Registrar-se</p>
    </div>

    <mat-form-field appearance="fill">
      <mat-label>Nome</mat-label>
      <input matInput id="name" [(ngModel)]="user.name" name="name" required>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput id="email" [(ngModel)]="user.email" name="email" type="email" required>
    </mat-form-field>
    
    <mat-form-field appearance="fill">
      <mat-label>Senha</mat-label>
      <input matInput id="password" [(ngModel)]="user.password" name="password" type="password" required>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">
      Registrar
    </button>
  </form>

  <div *ngIf="errorMessage" class="error">
    {{ errorMessage }}
  </div>
</mat-card>
