.logout-card {
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.title-bar {
  background-color: #007bff; /* Azul primário */
  color: #fff; /* Texto branco */
  padding: 10px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.title-text {
  margin: 0;
  font-size: 1.5rem;
}

.logout-button {
  padding: 8px 16px; /* Reduzindo o padding do botão */
}

.modal {
  display: none;
  position: fixed;
  z-index: 1050;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal.show {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-dialog {
  position: relative;
  margin: auto;
  padding: 20px;
  max-width: 80%;
  max-height: 80%;
  background-color: #007bff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.modal-content {
  padding: 20px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
}

.modal-title {
  margin: 0;
  color: #ffffff;
}

.modal-body {
  padding: 10px 0;
  color: #ffffff;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;
  border-top: 1px solid #ccc;
}

.btn {
  cursor: pointer;
  border: none;
  padding: 8px 12px;
  margin-left: 5px;
  border-radius: 4px;
}

.btn-primary {
  background-color: #007bff; /* Azul primário */
  color: #fff; /* Texto branco */
}

.btn-secondary {
  background-color: #6c757d; /* Cinza */
  color: #fff; /* Texto branco */
}
